  .home-title {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .status-text {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
  }
  